<title>Transaction types</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />


<body>
  <div>
    <form action="" name="form" id="transactionType" method="post">
      <input id="Ttype" type="text" name="type" placeholder="Type" required="true"><br />
      <input type="submit">
    </form>
  </div>
</body>

<script type="text/javascript">
  // $ DOM convention
  const $typeTransactionForm = document.querySelector('#transactionType')
  const Ttype = $typeTransactionForm.querySelector('#Ttype')

  $typeTransactionForm.addEventListener('submit', function (e) {
    e.preventDefault();

    fetch(`http://localhost:3000/transactionservice/types/${Ttype.value}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    }).then(response => response.json())
      .then(data => {
        if (data.status === "ok")
         document.body.insertAdjacentHTML("BeforeEnd", `<P ALIGN=\"center\">${data.data}</P>`)
        else alert(data.message)
      })
      .catch((error) => {
        alert('Something went wrong');
      });
  })

</script>