<!DOCTYPE html>
<html lang="en">

<head>
  <title>All About Transactions</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<body>
  {{{body}}}
  <div>
    {{{content}}}
  </div>
  <p id="message"></p>
</body>

</html>